:root {
  --main-color: #555248;
  --black-color: #000000;
}

html {
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1b1a17;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.9375rem;
  margin-bottom: 1.75rem;
}

.header__menu {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

.header__menu li:not(:last-child) {
  margin-right: 4.0625rem;
}

.header__icons {
  display: flex;
}

.header__icons > :nth-last-child(n + 2) {
  margin-right: 1.4375rem;
}

ul[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.line {
  border-top: 1px solid #8b8371;
  width: 50px;
  margin: 0 1rem;
}

.ruble {
  margin-left: 0.4375rem;
}

.line_sm {
  width: 30px;
  margin: 0 1.125rem;
}

.hero {
  overflow: hidden;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__group {
  margin-right: 6rem;
}

.hero__hgroup {
  position: relative;
}

.line_hgroup {
  position: absolute;
  margin: 0;
  top: 35px;
  left: -65px;
}

.hero__header_kiker {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #1b1a17;
}

.hero__header_heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1b1a17;
}

.hero__descript {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin: 2.4375rem 0 4rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 64px;
  background: #444240;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.ellipse-main {
  position: relative;
  width: 496px;
  height: 800px;
  top: -99px;
  left: -150px;
}

.ellipse {
  width: 496px;
  height: 944.01px;
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #eae3d4 100%);
  mix-blend-mode: normal;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-top-right-radius: 496px;
  border-bottom-right-radius: 496px;
}

.watch-main {
  position: absolute;
  top: 83px;
  left: 193px;
  z-index: 1;
}

.price-main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 232px;
  left: 114px;
}

.price-main__price {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #1b1a17;
}

.diameter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 730px;
  left: 596px;
  white-space: nowrap;
}

.diameter__text {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #1b1a17;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 79px 0 86px;
}

.products__header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1b1a17;
  text-align: center;
}

.see-all {
  align-self: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  border-bottom: 1px solid #c4c0b6;
  text-align: end;
  padding-bottom: 0.71875rem;
}

.products__watches {
  display: flex;
  justify-content: space-between;
}

.products__card {
  display: flex;
  flex-direction: column;
  width: 23.125rem;
  padding: 2.5rem 1.78125rem;
}

.products__watches h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}

.price-group {
  display: flex;
}

.products__watches .price {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.products img {
  width: 313px;
  height: 313px;
  filter: drop-shadow(2px 2px 10px rgba(92, 92, 80, 0.23));
}

.products__gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 313px;
  height: 313px;
  background: linear-gradient(270deg, #e9e3d4, #e2d0c4);
  border-radius: 50%;
}

.products__background {
  width: 312px;
  height: 312px;
  background: #ffffff;
  border-radius: 50%;
}

.more-group {
  display: flex;
  align-items: center;
  padding: 1.25rem 0 0;
}

.more {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1b1a17;
}

/* Banner */

.banner {
  display: flex;
}

.banner__background-1 {
  position: relative;
  background: #f7f5ef;
  width: 468px;
}

.banner__photo {
  position: absolute;
  top: 52px;
  left: 177px;
}

.banner__background-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fdfdfb;
  padding-top: 140px;
  width: 100%;
}

.banner__group {
  margin-left: 200px;
}

.banner__descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #444240;

  padding: 38px 0 45px;
  max-width: 376px;
}

.button_banner {
  background: #d4b098;
}

.banner__pagination {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin: 103px 0 21px 84px;
}

.arrow {
  width: 10px;
  height: 10px;
  border-left: 0.5px solid #1b1a17;
  border-bottom: 0.5px solid #1b1a17;
  rotate: 45deg;
}

.banner__number {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: rgba(27, 26, 23, 0.82);
  padding: 0 20px;
}

.arrow_right {
  transform: rotate(180deg);
}

/* ================== Subscribe ================ */

.subscribe {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 81px auto 90px;
}

.subscribe__group {
  margin-bottom: 62px;
}

.subscribe__descript {
  max-width: 376px;
  margin: 40px 0 119px;
}

.socials {
  display: flex;
}

.socials > :nth-last-child(n + 2) {
  margin-right: 18px;
}

.subscribe__photo-group {
  display: flex;
}

.subscribe__photo-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe__photo-3 {
  margin-left: 10px;
}

/* ================== Footer ================ */

.footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: rgba(255, 255, 255, 0.75);
  background: #444240;
  padding: 79px 0 67px;
}

.footer__logo {
  color: #ffffff;
}

.footer > div {
  display: flex;
  flex-direction: column;
}

.footer > div > div {
  margin-bottom: 33px;
}

.footer a {
  margin-bottom: 15px;
  color: inherit;
}


